# Dependencies
node_modules/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build outputs
dist/
build/
